<div class= "footer position: fixed;
bottom: 0;">
	<small>
			<%= link_to "Home", root_path %><br />
			<%= link_to "Lookbook", lookbook_path %><br />
			<%= link_to "Blog", blog_path %><br />
			<%= link_to "About Us", aboutus_path %>
	</small>
</div>