<footer class= "footer position: fixed; bottom: 0;">
	<div class="inner">
		<medium>
			<dd><%= link_to "Home", root_path %></dd><br />
			<dd><%= link_to "Lookbook", pins_path %></dd><br />
			<dd><%= link_to "Blog", blog_path %></dd><br />
			<dd><%= link_to "About Us", aboutus_path %></dd>
		</medium>
	</div>
</footer>